.form-control:focus{
  box-shadow: 'none';
  border: 'none'
}

.color-dark-blue {
    color: '#1c4c96'
  }
  
  .color-blue {
    color: '#4a9ae9'
  }

  .color-yellow{
    color: 'rgb(255, 210, 0)'
  }

  .bg-yellow{
    background: 'rgb(255, 210, 0)'
  }
  
  .color-grey-dark{
    color: '#87a1ab'
  }
  
  .color-grey{
    color: '#c8dfe2'
  }
  
  .bg-dark-blue {
    background: '#1c4c96'
  }
  
  .bg-blue {
    background: '#4a9ae9'
  }
  
  .bg-grey-dark{
    background: '#87a1ab'
  }
  
  .bg-grey{
    background: '#c8dfe2'
  }